*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    background-color: black;
    color:white;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:50px;
    font-weight: normal;
}

.link{
    color:aquamarine;
    font-size: 1rem;
    margin-top: 25px;
    margin-bottom: 30px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

#vid{
    padding-bottom: 25px;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 2.6rem;
}

#text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:21px;
    color:gray;
    margin:20px 0px;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon{
    margin-bottom: 20px;
}

#copyright{
    text-align: right;
    color: grey;
    font-size: 2rem;
}


